<html xmlns:th="http://www.thymeleaf.org">
<header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
</header>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
        <th:block th:each="user : ${userList}">
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.fullName}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </th:block>
    </tbody>
</table>

</body>
</html>
